{% extends "precisionmedicine/layout.html" %}

{% block body %}

    <div class="label">
        <h1>Register</h1>
        <form class="form-gorup beautify_form" action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div>
                <label>User name</label>
                <div>
                    <input type="text" class="form-control" name="username"  required>
                </div>   
            </div>
            <div>
                <label>Email Id</label>
                <div>
                    <input type="email" class="form-control" name="email"  required>
                </div>   
            </div>
            <div>
                <label>Password</label>
                <div>
                    <input type="password" class="form-control" name="password"  required>
                </div>
            </div>
            <div>
                <label>Confirm Password</label>
                <div>
                    <input type="password" class="form-control" name="confirm_password"  required>
                </div>
            </div>
            <div style="margin-top: 15px;"></div>
            <input class="btn sbtn" type="Submit" value="Submit">
        </form>
        <div>Already have an account? <a href="{% url 'login' %}" class="acc">Login here.</a></div>
    </div>  

    

{% endblock %}