//colors
$red_music : red;
$red_susan : rgba(179, 6, 6, 0.755);
$chocolate_gray : rgb(66, 49, 49);
$deep_chocolate_gray : #1c0303;
//sizes
$max_small_screen: 441px;
$small_screen : 863px;
$large_screen : 1228px;

.coloniva{
    background-color:#f46f09;
}
body{
    background-color: $chocolate_gray;
    color: aliceblue;
}



.label{
    margin-top: 5.5rem;
    border-color: $red_music;
    background-color: $deep_chocolate_gray;
    .beautify_form{
        margin: 0% 3% 3% 3%;
    }

    label{
        color: white;
    }
    input{
        size:40px;
    }
    h1{
        background-color: $red_music;
        color:azure;
        text-align: center;
        font-weight: bolder;
    }
}

@media (min-width : $max_small_screen){
    .label{
        margin: 20% 2% 1% 59%;
    }
}

@media (min-width : $large_screen){
    .label{
        margin: 10% 2% 1% 59%;
    }
}

.sbtn{
    background-color: $red_music;
    color: azure;
    font-weight: bold;
    &:hover{
        background-color: $red_susan;
    }
}

.acc{
    text-decoration: none;
    color: $red_music;
    &:hover{
        color: yellow;
    }
}

.logoutbtn{
    margin: 2% 0% 2% 85%;
    display: inline;
}

@media (min-width: $max_small_screen){
    .logoutbtn{
        margin: 2% 0% 2% 70%;
    }
}

@media (min-width: $small_screen){
    .logoutbtn{
        margin: 2% 0% 2% 70%;
    }
}

@media (min-width: 864px){
    .logoutbtn{
        margin: 2% 0% 2% 80%;
    }
}

@media (min-width: $large_screen){
    .logoutbtn{
        margin: 2% 0% 2% 88%;
    }
}

@media (min-width:225px) {
    .logoutbtn{
        margin: 2% 0% 2% 65%;
    }
}

.logo{
    position: relative;
    margin: 2% 0% 2% 0%;
    display: inline;
    img{
        width: 10%;
    }
}

@media (min-width: $large_screen) {
   .logo{
        img{
            width: 5%;
        }
   }
}


.bg-model{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.model-content{
    width: 500px;
    height: 522px;
    background-color: white;
    opacity: 1;
    border-radius: 50px;
    h1{
        text-align: center;
        margin-top: 18px;
        color: $red_music;
    }
    position: relative;
}

.patient-form{
    margin: 1rem 1rem 1rem 1rem;
    label{
        color: $red_susan;
    }
}

.close{
    position: absolute;
    right: 6%;
    top: 2%;
    transform: rotate(45deg);
    font-size: 20px;
    cursor: pointer;
}
