.coloniva{
    background-color:#f46f09;
}
body{
    background-color: black;
}

.label{
    label{
        color: white;
    }
    input{
        size:40px;
    }
    h1{
        background-color: red;
        color:azure;
    }
}